{% if layout == 'large' %}
<div id="shopify-section-162145917237afdea0" class="shopify-section">
<div class="home-product product-cta--large">
  <div data-section-id="162145917237afdea0" data-section-type="home-builder" class="container">
    
<div class="home-builder overflow-hidden"><div class="row align-items-start justify-content-center">
<div class="home-builder-block-id-162145917237afdea0-1 col-12 col-md-6  "><!-- snippets/promobox.liquid -->
<div class="promobox promobox--clean position-relative">
    <div class="d-block">
<div class="image-animation "><div class="rimage" style="padding-top:81.06249999999999%; min-height: 0px;"><img class="rimage__img rimage__img--cover lazyload entered loaded" loading="eager" data-master="//cdn.shopify.com/s/files/1/2198/4059/files/product-pieces_31ce7c41-779e-4c5e-8438-8824d03c2526_{width}x.progressive.jpg?v=1625679803" data-aspect-ratio="1.2336160370084812" data-aspect-ratio-original="1.2336160370084812" data-stretch-size="cover" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACwAAAAAAQABAAACAkQBADs=" data-srcset="//cdn.shopify.com/s/files/1/2198/4059/files/product-pieces_31ce7c41-779e-4c5e-8438-8824d03c2526_337x.progressive.jpg?v=1625679803 1x, //cdn.shopify.com/s/files/1/2198/4059/files/product-pieces_31ce7c41-779e-4c5e-8438-8824d03c2526_674x.progressive.jpg?v=1625679803 2x, //cdn.shopify.com/s/files/1/2198/4059/files/product-pieces_31ce7c41-779e-4c5e-8438-8824d03c2526_1011x.progressive.jpg?v=1625679803 3x" alt="" srcset="//cdn.shopify.com/s/files/1/2198/4059/files/product-pieces_31ce7c41-779e-4c5e-8438-8824d03c2526_337x.progressive.jpg?v=1625679803 1x, //cdn.shopify.com/s/files/1/2198/4059/files/product-pieces_31ce7c41-779e-4c5e-8438-8824d03c2526_674x.progressive.jpg?v=1625679803 2x, //cdn.shopify.com/s/files/1/2198/4059/files/product-pieces_31ce7c41-779e-4c5e-8438-8824d03c2526_1011x.progressive.jpg?v=1625679803 3x" data-ll-status="loaded"></div>
</div>
</div>
  </div>
</div>
<div class="home-builder-block-id-162145917237afdea0-2 col-12 col-md-6  "><!-- snippets/promobox.liquid -->
<div class="promobox promobox--text promobox--style-2 d-lg-flex align-items-lg-center justify-content-lg-center h-100 text-left">
    <div class="promobox__content h-100-inner w-100">
    <div class="d-flex flex-column"><p class="promobox__text-1 h5">Kegelbell速 The Vagina Gym速 Original Kit</p>
<p class="promobox__text-2 h3 mt-5">$99.95</p>
<p class="promobox__text-3 fs-lg mt-15"></p><p><strong>Why Use Kegelbell速:</strong> </p><ul> <li>Improve bladder and bowel control</li> <li>Reduce the risk of pelvic organ prolapse</li> <li>Treat Female Sexual Dysfunction (FSD)</li> </ul><p></p><div class="mt-25">
<a href="/products/kegelbell-pelvic-floor-training-system" class="promobox__btn-1 btn btn--invert">Shop Now</a>  
          </div></div>
    </div>
  </div>
</div></div>
  </div>

  </div>
</div></div>
{% else %}
<div class="product-cta product-cta--small">
<a href="/products/kegelbell-pelvic-floor-training-system">
  <img src="{{  'kb-cta.jpg' | asset_img_url: '200x' }}" alt="Everything is easier with Kegelbell" width="100" height="100" />
	<span>
		<strong>Everything is easier with Kegelbell速</strong>
		Find out what is possible with two weeks of use. Guaranteed.
		<strong class="text-button">Learn More <i><svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="angle-double-right" class="svg-inline--fa fa-angle-double-right fa-w-12" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M363.8 264.5L217 412.5c-4.7 4.7-12.3 4.7-17 0l-19.8-19.8c-4.7-4.7-4.7-12.3 0-17L298.7 256 180.2 136.3c-4.7-4.7-4.7-12.3 0-17L200 99.5c4.7-4.7 12.3-4.7 17 0l146.8 148c4.7 4.7 4.7 12.3 0 17zm-160-17L57 99.5c-4.7-4.7-12.3-4.7-17 0l-19.8 19.8c-4.7 4.7-4.7 12.3 0 17L138.7 256 20.2 375.7c-4.7 4.7-4.7 12.3 0 17L40 412.5c4.7 4.7 12.3 4.7 17 0l146.8-148c4.7-4.7 4.7-12.3 0-17z"></path></svg></i></strong>
	</span>
</a>
</div>
{% endif %}