<div class="quiz-cta">
<a href="/pages/pelvic-floor-dysfunction-quiz">
  <strong>More than 75% of women have pelvic floor muscles that are atrophied.</strong>
  <span class="text">Find out if you're living with weak pelvic floor muscles.</span>
  <span class="button">Take the Quiz</span>
</a>
</div>