.kz-blog:not(.background-secondary) {
  margin: 5rem 0;
}

.kz-blog.background-secondary {
  padding: 4rem 0 3rem;
}

@media screen and (min-width: 750px) {
  .kz-blog:not(.background-secondary) {
    margin: calc(5rem + var(--page-width-margin)) 0;
  }

  .kz-blog.background-secondary {
    padding-top: calc(5rem + var(--page-width-margin));
    padding-bottom: calc(5rem + var(--page-width-margin));
  }
}
.kz-blog .title {
  margin: 0;
}
.kz-blog__posts.articles-wrapper {
  margin-bottom: 1rem;
}

@media screen and (min-width: 990px) {
  .kz-blog__posts.articles-wrapper {
    margin-bottom: 0;
  }
}

.kz-blog__posts.articles-wrapper .article {
  scroll-snap-align: start;
}

@media screen and (min-width: 750px) {
  .kz-blog__posts .article + .article {
    margin-left: 1rem;
  }
}

.kz-blog__post {
  text-align: center;
}
.kz-blog__post a {
  text-decoration: none;
  color: #333;
}
.kz-blog__post .article-card__image-wrapper {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
}
@media screen and (max-width: 749px) {
  .kz-blog__post.article {
    width: calc(100% - 3rem);
    padding-left: 0.5rem;
  }
}