.page-title {
  margin-top: 0;
}

.main-page-title {
  margin-bottom: 3rem;
}

@media screen and (min-width: 750px) {
  .main-page-title {
    margin-bottom: 4rem;
  }
}

.page-placeholder-wrapper {
  display: flex;
  justify-content: center;
}

.page-placeholder {
  width: 52.5rem;
  height: 52.5rem;
}

.template-page #MainContent .rte img {
  padding: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}
.p-10 {
  padding: 10px;
}
.text-center {
  text-align: center;
}
@media (min-width: 778px) {
.d-md-flex {
    display: flex!important;
}
}