.logo-list h2 {
  margin: 0;
}
.logo-list img {
  max-width: 100%;
  height: auto;
}
.logo-list-items {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  gap: 20px;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
}
.logo-list-items .one-item {
  max-width: 60px;
}
@media screen and (min-width: 749px) {
.logo-list-items .one-item {
  max-width: 100px;
}
}