$slide-top-padding: 60px;
$slide-wave-height: 60px;
$color-kb-yellow: #FEE36E;
$color-kb-yellow-light: #FFF3A7;
$color-kb-yellow-dark: #F7D439;
$color-kb-red: #da2f0c;//#AD1D1D;
$color-kb-gray: #D3D3D3;
$color-kb-gray-light: #F2F2F2;

$color-text: #333;
$color-subtext: #666;
$color-border: $color-kb-gray;
$color-link: #000;

$font-family: "Libre Franklin";

$page-size-lg: 1024px;
$page-size: 960px;
$page-size-md: 720px;
$page-size-sm: 400px;