@import '_variables';
// Sitewide ----------------------------------------------------------
.button {
  border-radius: 20px;
}
.rte {
  p {
    margin-bottom: 1em;
  }
}
.hide {
  display: none;
}
.banner__box.color-background-1 {
  background: none !important;
}
.form-status {
  padding: 10px 0;
  font-size: 18px;
  .icon {
    flex-shrink: 0;
    height: 2rem;
    margin-right: 0.7rem;
    width: 2rem;
  }
  &:focus-visible {
    outline: none;
    box-shadow: none;
  }
}
.contact .icon-success {
    margin-top: 0;
}
// Header -- Top Bar -------------------------------------------------
.announcement-bar__message {
  font-weight: normal;
  color: $color-text;
}
// Header ------------------------------------------------------------
.header {
  padding-top: 8px;
  padding-bottom: 8px;
}
.header__inline-menu {
  font-weight: bold;
}
.header__icons {
  align-items: center;
  .button {
    height: 36px;
    line-height: 36px;
    margin-right: 20px;
  }
}
// Footer ------------------------------------------------------------
.footer.color-accent-2 {
  h2, a, p {
    color: #333;
  }
}
.footer__content-top .grid__item {
  padding-left: 0 !important;
}
// Curved Top White --------------------------------------------------
.home-bath.banner {
  background: $color-kb-gray-light;
  background: linear-gradient(180deg, #f2f2f2 0%, #f2f2f2 80%, #c3c3c3 80.1%, #e8e7e8 100%);
  &:before {
    content: '';
    background-image: 
        url('data:image/svg+xml;utf8,<svg viewBox="0 0 1200 39" xmlns="http://www.w3.org/2000/svg"><path d="M-1,9.28659383 C79.6846313,28.6290457 259.172215,37.4137976 413.794965,37.4137976 C568.417715,37.4137976 679.785879,34.42917 810.563993,28.6290457 C928.984477,23.3769931 1069.74149,8.45788252 1201,5.6852717 C1201,5.6852717 1201,3.79018114 1201,1.77635684e-14 L-1,0.685271705 C-1,5.31445436 -1,8.18156174 -1,9.28659383 Z" fill="%23FFFFFF"></path></svg>');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: absolute;
    top: -1px;
    left: -1px; right: -1px;
    height: 39px;
    opacity: 1;
    z-index: 3;
  }
  .media {
    background-color: $color-kb-gray-light;
    max-width: 1200px;
    right: 0;
    margin: auto;
  }
  .banner__content {
    padding-bottom: 120px;
  }
  .media > img {
    object-fit: contain;
    object-position: center bottom;
  }
}

// Home --------------------------------------------------------------
// Home --------------------------------------------------------------
// Home - Hero -------------------------------------------------------
.home-hero {
  .banner__content {
    justify-content: flex-start;
  }
  .banner__box {
    text-align: left;
  }
  .banner__heading {
    text-shadow: 0 1px 4px rgba(#000,.6);
    font-size: 30px;
    color: $white;
  }
  .banner__text {
    color: $white;
    font-weight: bold;
    text-shadow: 0 1px 4px rgba(#000,.6);
    margin-top: 4px;
    line-height: 1.4em;
    max-width: 560px;
    font-size: 16px;
  }
  .banner__box > .banner__buttons {
    justify-content: flex-start;
  }
  .button {
    background: $color-kb-red;
    color: $white;
    box-shadow: none;
  }
}
@media screen and (min-width: $page-size-md) {
.home-hero {
  .banner__heading {
    font-size: 34px;
  }
}
}
@media screen and (min-width: $page-size) {
.home-hero {
  .banner__heading {
    font-size: 44px;
  }
  .banner__text {
    font-size: 18px;
  }
}
}
// Home - Chart ------------------------------------------------------
.home-chart {
  .kz-multicolumn-card__image-wrapper {
    max-width: 370px;
    margin: auto;
  }
}
// Home - Product ----------------------------------------------------
.home-product {
  .kz-multicolumn-card__image-wrapper {
    max-width: 450px;
    margin: auto;
  }
  h3 {
    font-size: 24px;
  }
}

// Cart --------------------------------------------------------------
.template-cart {
  .title-wrapper-with-link {
    margin-bottom: 10px;
  }
  .cart-items th {
    padding-bottom: 6px;
  }
}
@media screen and (max-width: 749px) {
.cart-items thead tr {
  margin-bottom: 10px;
}
}
.popup-cart {
  width: 320px;
}
.popup-cart__footer {
  padding-bottom: 0!important;
}
.cart__sidebar,
.popup-cart__buttons {
  .btn--secondary {
    background: $color-kb-red;
    border-color: $color-kb-red;
    &:hover {
      background: #000;
      border-color: #000;
      color: #fff;

    }
  }
}
.cart__image {
  max-width: 80px !important;
}
.cart__sidebar {
  background: transparent;
  .btn {
    max-width: 400px;
  }
}
.cart__footer {
  justify-content: flex-end !important;
}
// Discount Code
div#dcodeOuterWrapper {
  padding: 10px 0;
  *:focus-visible {
    outline: none;
    outline-offset: 0px;
    box-shadow: 0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.05);
  }
}
.dcloading {
  display: block !important;
}
#dcodeButtonLabel,
#dcodeButtonLabelPlaceholder {
  font-weight: bold;
}
input#dcodeInput.dcodeInput {
  border: 1px solid $color-border;
  line-height: 48px;
  font-size: 20px;
  padding: 0 10px;
  float: left;
  width: 150px;
}
#dcodeSubmit {
  text-transform: none !important;
  letter-spacing: -.5px;
  line-height: 50px;
  padding: 0 20px;
  background: #000;
  border: none;
  color: #fff;
}
.dcDiscountBox {
  margin-bottom: 10px;
}
p.dcodeErrorMessage {
  font-size: 14px;
}
.dcodeTable {
    width: 100% !important;
    display: table !important;
    max-width: 10000px !important;
} 
.dcode-subtotal-row {
  display: none;
}
.dcodeTable td,
.dcodeTotal td {
    padding: 0 !important;
}
.dcodeTable td:first-child,
.dcodeTotal td:first-child {
    padding: 0 10px 0 0 !important;
}
.dcodeTotal td {
    font-weight: bold;
    font-size: 100% !important;
}
// Product Detail ---------------------------------------------
.shopify-payment-button__button--unbranded {
  background-color: #333;
  box-shadow: 0 0 0 0.1rem rgba(#333,var(--alpha-button-border));
  line-height: 40px;
  letter-spacing: 0;
  padding: 0;
  border-radius: 20px;
  min-height: 0;
}
.shopify-payment-button {
  margin-top: 20px;
}
// Pages ------------------------------------------------------
@media screen and (min-width: 750px) {
.template-page .content-for-layout .page-width,
.template-page .content-for-layout .page-width--narrow {
    padding: 0 9rem;
  }
}
@media screen and (min-width: 990px) {
.template-page .content-for-layout .page-width,
.template-page .content-for-layout .page-width--narrow {
    max-width: 960px;
    padding: 0;
  }
}
// Product CTA
.template-page #MainContent .product-cta,
.template-article #MainContent .product-cta {
  margin: 10px auto 20px;
  max-width: 960px;
  display: block;
  a {
    display: flex !important;
    align-items: center;
    text-decoration: none;
    padding: 10px;
    background: $color-kb-gray-light;
    border: none !important;
    overflow: hidden;
    color: $color-text;
    &:hover {
      background: $color-kb-yellow-light;
    }
  }
  strong {
    display: block;
  }
  img {
    width: 100px;
    padding: 0;
    margin-right: 20px;
  }
  .text-button {
    color: $color-kb-red;
  }
  svg.fa-angle-double-right {
    fill: $color-kb-red;
    width: 14px;
    height: 14px;
  }
}
#kegelbell-links {
  .page-width .rte {
    div {
      margin-bottom: 10px;
      &:nth-child(3n) a {
        background: $color-kb-yellow-light;
      }
      &:nth-child(3n+1) a {
        background: $color-kb-yellow-dark;
      }
      a {
        display: block;
        border-radius: 20px;
        background: $color-kb-yellow;
        color: $color-text;
        padding: 10px 20px;
        transition: all .3s;
        text-decoration: none;
        &:hover {
          background-color: #000 !important;
          color: #fff;
        }
      }
    }
  }
}
.ebook-landing-content {
  h2.title {
    text-align: left;
  }
  .kz-multicolumn-card__info {
    .rte p,
    .rte ul {
      font-size: 16px;
    }
  }
}




// Customizations from Old Site

@import '_oldsite';








